@model ShopVM
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>



                        <li class="active" data-filter="*">All</li>
                        @foreach (var item in Model.Categories)
                        {
                            <li data-filter=".cat_@item.Id">@item.CategoryName</li>
                        }
                        @* <li data-filter=".strawberry">Strawberry</li>
                        <li data-filter=".berry">Berry</li>
                        <li data-filter=".lemon">Lemon</li> *@
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            @foreach (var item in Model.Products)
            {

                <div class="col-lg-4 col-md-6 text-center cat_@item.CategoryId">
                    <div style="display: none;" class="product-id">@item.Id</div>
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="/product/detail/@item.Id"><img class="product-photo" src="@item.PhotoUrl" alt=""></a>
                        </div>
                        <h3 class="product-name">@item.Name</h3>
                        <p class="product-price"><span>Per item </span> @item.Price$ </p>
                        <a class="cart-btn add-to-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            }

        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        const button = document.querySelectorAll(".add-to-cart")
        const productName = document.querySelectorAll(".product-name")
        const productPrice = document.querySelectorAll(".product-price")
        const productPhoto = document.querySelectorAll(".product-photo")
        const productId = document.querySelectorAll(".product-id")

        for (let i = 0; i < button.length; i++) {
            button[i].addEventListener("click", function () {
                AddToLs(productId[i].innerText, productName[i].innerText, productPrice[i].innerText, productPhoto[i].currentSrc)
            })
        }

        function AddToLs(id, name, price, photoUrl) {
            let data = {

                id: id,
                name: name,
                price: price,
                photo: photoUrl,
                quatity: 1
            }

            console.log(id)

            var cartItems = JSON.parse(localStorage.getItem("card"))

            if (cartItems == null) {
                localStorage.setItem("card", JSON.stringify([data]))
            } else {
                let result = cartItems.find(x => x.id == id)
                if (result != undefined) {
                    localStorage.removeItem("card", cartItems)
                    let resQuantity = result.quatity += 1
                    localStorage.setItem("card", JSON.stringify(cartItems))
                } else {
                    localStorage.setItem("card", JSON.stringify([...cartItems, data]))
                }

                Swal.fire(
                    'Sebete elave olundu!',
                    'You clicked the button!',
                    'success'
                )
            }


        }


    </script>
}
