@model IEnumerable<Contact>
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="#">Contact </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Name || Surname</th>
                            <th> Subject </th>
                            <th> Email </th>

                            <th> Message </th>
                            <th> Status </th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#Id</th>
                            <th>Name || Surname</th>
                            <th> Subject </th>
                            <th> Email </th>
                            <th>Status</th>
                            <th> Message </th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @* *@
                        @foreach (var con in Model)
                        {
                            <tr>

                                <th>@con.Id</th>
                                <th>
                                    @con.Name || @con.Surname
                                </th>
                                <th>
                                    <p> @con.Email </p>
                                    <p>@con.Phone</p>
                                </th>
                                <th>
                                    @con.Subject
                                </th>
                               
                                <th>
                                    @con.Message
                                </th>
                                <th>
                                    @if (con.IsPopular == false)
                                    {
                                        <span class="btn btn-success">Comment</span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-dark">Testemonia</span>

                                    }

                                </th>
                                <th class="d-flex">
                                    <a class="btn btn-danger" href="/Dashboard/contact/Detail/@con.Id">Detail/Popular</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>