@model IEnumerable<Contact>
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="#">Contact </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#Id</th>
                            <th>Name || Surname</th>
                            <th> Subject </th>
                            <th> Email </th>

                            <th> Message </th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#Id</th>
                            <th>Name || Surname</th>
                            <th> Subject </th>
                            <th> Email </th>

                            <th> Message </th>
                            <th>
                                Parametr
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @* *@
                        @foreach (var con in Model)
                        {
                            <tr>

                                <th>@con.Id</th>
                                <th>
                                    @con.Name || @con.Surname
                                </th>
                                <th>
                                    <p> @con.Email </p>
                                    <p>@con.Phone</p>
                                </th>
                                <th>
                                    @con.Subject
                                </th>
                                <th>
                                    @con.Message
                                </th>
                                <th class="d-flex">
                                    <a href="/contact/detail/@con.Id">Detail</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>