@model WebApp.Models.Product
<h1 class="text-center">Detail : @Model.Name</h1>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.PhotoUrl" alt="@Model.SeoUrl"></div>
            <div class="col-md-6">
                <div class="small mb-1">Id : @Model.Id</div>
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">₼@Model.Price</span>
                    <span>₼@Model.Discount</span>
                </div>
                <p class="lead">Description : @Html.Raw(Model.Description)</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3 " id="inputQuantity" type="num" value="@Model.Quantity" readonly="readonly" style="max-width: 3rem">
                    <a href="/dashboard/product/Update/@Model.Id" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Update 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>