@model ProductVM
<div class="container-fluid m-auto">
    <h4 class="text-center m-5">Create Product </h4>
</div>
<div class="col-lg-6 m-auto">
    <form class="row g-3" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
            <label asp-for="Products.Name" class="form-label">Name</label>
            <input class="form-control" asp-for="Products.Name">
        </div>
        <div class="col-md-6">
            <label asp-for="Products.Discount" class="form-label">Discount</label>
            <input type="text" class="form-control" asp-for="Products.Discount">
        </div>
        <div class="col-12">
            <label asp-for="Products.Description" class="form-label">Description</label>
            <textarea asp-for="Products.Description" class="form-control">
        </textarea>
        </div>
        <div class="col-12">
            <label asp-for="Products.Price" class="form-label">Price</label>
            <input type="text" asp-for="Products.Price" class="form-control">
        </div>
        <div class="col-md-2">

            <a href="@Model.Products.PhotoUrl" target="_blank">
                <img src="@Model.Products.PhotoUrl" class="img-fluid w-auto" />
            </a>
            <input type="file" class="form-control" name="Photo" />
        </div>
        <div class="col-md-4">
            <label class="form-label">Category</label>
            <select name="CategoryId" class="form-control">
                @foreach (var cat in Model.Categories)
                {
                    @if (cat.Id == Model.Products.CategoryId)
                    {
                        <option value="@cat.Id" selected>@cat.CategoryName</option>
                    }
                    else
                    {
                        <option value="@cat.Id">@cat.CategoryName</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2">
            <label asp-for="Products.Quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" asp-for="Products.Quantity">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>
    </form>
</div>



@section Scripts{
    <script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('editor1');
    </script>
}